.wrong {
  border: 3px solid red;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
}

.play__parent {
  align-items: center;
  background-image: url('../image/charada-back-verde-e-roxo.png');
  background-size: 850px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 92vh;
  justify-content: center;
}

.play__questions {
  align-items: center;
  background-color: var(--cor-de-fundo);
  border: 3px solid var(--roxo-principal-claro);
  border-radius: 10px;
  box-shadow: 10px 10px var(--roxo-principal-claro);
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-evenly;
  padding: 10px;
  text-align: center;
  width: 550px;
}

.play__time {
  align-items: center;
  background-color: var(--verde-principal-claro);
  border-radius: 5px;
  display: flex;
  height: 30px;
  justify-content: space-evenly;
  width: 80px;
}
