.ranking__parent {
  align-items: center;
  background-image: url('../image/charada-back-verde-e-roxo.png');
  background-size: 850px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.ranking__result {
  align-items: center;
  background-color: var(--cor-de-fundo);
  border: 3px solid var(--verde-principal-claro);
  border-radius: 10px;
  box-shadow: 10px 10px var(--verde-principal-claro);
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  width: 550px;
}

.ranking__result button {
  background-color: var(--verde-principal-medio);
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 3%;
  padding: 8px 12px;
  transition: 0.8s;
  width: 30%;
}

.ranking__result button:hover {
  box-shadow: var(--cor-extra-dourado) 0 10px 36px 0 , var(--cor-extra-dourado) 0 0 0 1px;
  cursor: pointer;
}

.ranking__results {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ranking__results img {
  border-radius: 8px 0 0 8px;
  width: 50px;
}

.ranking__results li {
  align-items: center;
  background-color: var(--cor-extra-cinza);
  border-radius: 8px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  list-style: none;
  margin: 5px;
  width: 90%;
}

